/* AddTaskForm.css */

.add-task-form {
    text-align: center;
    margin-bottom: 20px; /* Espacio entre el formulario y el botón Agregar Tarea */
  }
  
  .add-task-input {
    padding: 8px;
    font-size: 16px;
    width: 100%;
    margin-right: 10px; /* Espacio a la derecha del campo de entrada */
  }
  
  .add-task-button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #61dafb; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none;
    cursor: pointer;
  }
 
  .bold-description {
    font-weight: bold;
  }
  /* En AddTaskForm.css */
.add-task-form {
  box-shadow: 0 0 10px 2px #3498db; /* Agrega un resplandor azul neon */
  border-radius: 8px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno */
  margin-bottom: 20px; /* Margen inferior */
  transition: box-shadow 0.3s ease; /* Agrega una transición suave */
}

.add-task-form:hover {
  box-shadow: 0 0 20px 5px #3498db; /* Aumenta el resplandor al pasar el ratón */
}

/* Otros estilos... */
